APP_PORT=3000
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# Database
DB_NAME=main
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=hackathon_db
DB_SCHEMA=public
DB_LOGGING=false
DB_SYNCHRONIZE=true

# Logs
APP_LOG_DIR=logs
APP_AUDIT_DIR=logs/audit
APP_ZIP_DIR=logs/zip
APP_LOG_ZIP=false
APP_LOG_MAX_SIZE=10m
LOG_LEVEL=silly

# Admin
ADMIN_SECRET=admin-secret-change-me
